/.idea/.gitignore
/out/production/info4-pc/.idea/.gitignore
/out/production/info4-pc/out/production/bavards/.idea/.gitignore
/td2/.idea/.gitignore
/td2/out/production/bavards/.idea/.gitignore
/td4/.idea/.gitignore
/out/production/td6/Allocator$1.class
/out/production/td7-8/AllocatorFIFO$Allocator.class
/out/production/info4-pc/out/production/bavards/bavards.iml
/out/production/info4-pc/bavards.iml
/td2/out/production/bavards/bavards.iml
/td2/bavards.iml
/td2/out/production/bavards/folks/FolksA.class
/td2/out/production/bavards/folks/FolksB.class
/info4-pc.iml
/out/production/info4-pc/TestProdCons$AllocID.class
/td4/out/production/td4/TestProdCons$AllocID.class
/out/production/info4-pc/TestProdCons$Parking.class
/.idea/misc.xml
/out/production/info4-pc/.idea/misc.xml
/out/production/info4-pc/out/production/bavards/.idea/misc.xml
/td2/.idea/misc.xml
/td2/out/production/bavards/.idea/misc.xml
/td4/.idea/misc.xml
/.idea/modules.xml
/out/production/info4-pc/.idea/modules.xml
/out/production/info4-pc/out/production/bavards/.idea/modules.xml
/td2/.idea/modules.xml
/td2/out/production/bavards/.idea/modules.xml
/td4/.idea/modules.xml
/td2/out/production/bavards/folks/Starter.class
/td4/.idea/td4.iml
/td4/td4.iml
/td5/td5.html
/td6/td6.iml
/td7-8/td7-8.iml
/.idea/uiDesigner.xml
/out/production/info4-pc/.idea/uiDesigner.xml
/out/production/info4-pc/out/production/bavards/.idea/uiDesigner.xml
/td2/.idea/uiDesigner.xml
/td2/out/production/bavards/.idea/uiDesigner.xml
/td4/.idea/uiDesigner.xml
/.idea/vcs.xml
/wordart.png
